.wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}


.filters {
  width: 250px;
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  height: fit-content;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.tagsBlock {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.tagBtn {
  padding: 8px 10px;
  background: #f4f4f4;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
}


.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
